* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(0, 0, 0);
  background-image: url(https://i.ibb.co/VDQRzzP/IMG-20220915-161127.jpg);
  background-size: cover;
  background-position: center center;
  display: grid;
  justify-content: center;
  align-items: center;
  background-size: cover;
  min-height: 100vh;
  font-size: 130%;
}

#encabezado {
  width: 60vw;
  border: 3px solid rgba(100, 100, 100, 0.1);
  display: grid;
  min-height: 20px;
  justify-content: center;
  background-image: linear-gradient(to left,#1f7914ee,#5fce54,#1f7914ee);
  align-items: center;
  flex-direction: column;
  background-size: 300%;
  text-decoration: none;
  transition: 0.6s;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  margin: 15px 440px;
  padding: 10px;
}

.opcion {
  text-align: center;
  width: 40vw;
  background-image: linear-gradient(to left,#5fce54,#1f7914ee,#5fce54);
  border-radius: 15px;
  transition: 0.6s;
  margin: 15px 580px;
  background-size: 300%;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

.opcion:hover{
     background-position: right;
}
